[submodule "thirdparty/nanovg"]
	path = thirdparty/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "thirdparty/pugl"]
	path = thirdparty/pugl
	url = https://github.com/jpcima/pugl.git
[submodule "thirdparty/libpd"]
	path = thirdparty/libpd
	url = https://github.com/jpcima/libpd.git
