[submodule "thirdparty/pugl"]
	path = thirdparty/pugl
	url = http://git.drobilla.net/pugl.git/
[submodule "thirdparty/nanovg"]
	path = thirdparty/nanovg
	url = https://github.com/memononen/nanovg.git
